#initially-showing, #initially-showing2 {
}


#initially-hidden, #initially-hidden2 {
  display: none;
}

.clickable, .clickable2 {
  cursor: pointer;
  color: salmon;
}

.clickable:hover {
  text-decoration: underline;
}
